---
layout: markdown_page
title: "Threat Insight Priorities, 16.0-16.11"
description: "This page outlines GitLab's Threat Insights priorities for 16.0-16.11."
canonical_path: "/direction/govern/threat_insights/16_threat_insights_priorities/"
---

- TOC
{:toc}


## Purpose
This page is for high-level prioritization of the threat insights team for 16.0-16.11. It primarily includes feature/product items and is not a comprehensive list of everything that will be worked such as bugs, implementation issues, documentation, or technical debt. It is not intended as a replacement or alternative for our issue boards. It is meant as an easily consumable single view of the main in-progress and upcoming work items for the Threat Insights group. It also allows mixing Epics and Issues in a single list.  The tables come from the [threat_insights.yml](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/product_priorities/threat_insights.yml) file.
This list is not a guarantee of timing or order of delivery. Rather, use this as a guide to see the tops items we are working on and will be in the near future. The list purposefully does not extend out beyond a year to minimize a false sense of priority.

## Goals
1. Leadership can see a project, sub-group, group or instance level view of their vulnerabilities AND their dependencies at each level.    
1. Teams can quickly triage their vulnerabilities and dependencies with filters, searching and grouping within the vulnerability and dependency report. When possible, repetitive triage tasks are automated.
1. Developers trust that new vulnerabilities on their branch are accurate. 

## Completed Work
##### Feature

- ✅ 2023-05-19 [Use merge base for security MR widget](https://gitlab.com/groups/gitlab-org/-/epics/10092)
- ✅ 2023-05-12 [[Experiment] Explain this Vulnerability](https://gitlab.com/groups/gitlab-org/-/epics/10284)
- ✅ 2023-04-19 [Vulnerability Dismissal Types / Reasons](https://gitlab.com/groups/gitlab-org/-/epics/4942)

##### Maintenance & Technical Debt

- ✅ 2023-07-13 [[MR Widget] V2](https://gitlab.com/groups/gitlab-org/-/epics/8353)
- ✅ 2023-07-06 [Pipeline Security Tab GraphQL migration: add missing fields to the vulnerability-details component](https://gitlab.com/groups/gitlab-org/-/epics/8459)
- ✅ 2023-07-05 [Pipeline Security Tab GraphQL migration: implement modal actions](https://gitlab.com/groups/gitlab-org/-/epics/8479)
- ✅ 2023-07-04 [MR Security widget performance improvements](https://gitlab.com/groups/gitlab-org/-/epics/8623)
- ✅ 2023-06-02 [Clean up vulnerability reports and address tech debt](https://gitlab.com/groups/gitlab-org/-/epics/7747)
- ✅ 2023-05-16 [Deprecate and remove Vulnerabilities::Feedback](https://gitlab.com/groups/gitlab-org/-/epics/5629)
- ✅ 2023-02-13 [Refactor the vulnerability filters to make the query string as the SSOT](https://gitlab.com/groups/gitlab-org/-/epics/8872)

##### Problem & Solution Validations

- ✅ 2023-07-07 [Further understand the job of prioritizing security scan results and assessing their risk](https://gitlab.com/gitlab-org/ux-research/-/issues/2195)


## Priorities
### Planned and in progress

| Priority | Name | Team| Target release |
| ------ | ------ | ------ | ------ |
<% data.product_priorities.threat_insights.priorities.select { |item| item.type == '~"type::feature"' }.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | [`<%= priority.team || "TBD" %>`](/handbook/engineering/development/sec/govern/threat-insights/#how-we-work) | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>

### Technical debt and deprecations

| Priority | Name | Team| Target release |
| ------ | ------ | ------ | ------ |
<% data.product_priorities.threat_insights.priorities.select { |item| item.type == '~"type::maintenance"' }.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | [`<%= priority.team || "TBD" %>`](/handbook/engineering/development/sec/govern/threat-insights/#how-we-work) | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>

## Page Updates

| | |
| --- | --- |
| Stage | [Govern](/direction/govern/) |
| Content Last Reviewed | `2023-08-16` |
| Content Last Updated  | `2023-08-16` |

## Learn More
Threat Insights is a group in the Govern stage.  There are two categories in the group and details on the direction can be viewed on the following category pages:
1. [Vulnerability Management](https://about.gitlab.com/direction/govern/threat_insights/vulnerability_management/)
1. [Dependency Management](https://about.gitlab.com/direction/govern/threat_insights/dependency_management/)
